<!DOCTYPE html>
<html>
  <head>
    <title>José Enrique Galindez Alvarez</title>
    <link rel='stylesheet' href='/stylesheets/curriculum.css' />
    <style>

    </style>
    
  </head>
  <body>
    <div>
      <h1>José Enrique Galindez Alvarez</h1>
    <p>Calle urdaneta, Casa numero 1, La vicotria, Estado Aragua </p>
    <p>Telefono: (0412) 439-5734</p>
    <fieldset>
      <legend>Datos personales</legend>
      <ul>
        <li><span>Fecha de nacimiento:</span> 03-10-2003</li>
        <li><span>Cedula de identidad:</span> 30.016.640</li>
        <li><span>Email:</span> Joseneriquegalindez03@gmail.com</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Formacion academica</legend>
      <ul>
        <li><span>Educacion basica:</span> U.E.P Colegio Santa Teresa</li>
        <li><span>Bachillerato:</span> U.E.P Colegio Santa Teresa</li>
        <li><span>Ingenieria en informatica:</span> Universidad Experimental de los Llanos Centrales "Romulo Gallegos" (UNERG)</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Experiencia laboral</legend>
      <ul>
        <li><span>Electricista:</span> Trabajo independiente</li>
        <li><span>Repostero:</span> Trabajo independiente</li>
        <li><span>Mecanico:</span> Trabajo independiente</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Habilidades y destrezas</legend>
      <ul>
        <li>Facilidad de adaptacion</li>
        <li>Atencion al cliente</li>
        <li>Accesibilidad</li>
        <li>Muchas ganas de aprender</li>
      </ul>
    </fieldset>
    <h2>Redes sociales</h2>
     <p><span>Facebook:</span> JOSE GALINDEZ</p>
     <p><span>Instagram</span> JOSEENRIQUEGALINDEZ</p>
    </div>
  </body>
</html>